<% layout('layouts/boilerplate') %>

<section class="container">
  <h1 id="subtitlepage" class="text-center">
    <b>SHAPE YOUR WORKOUT EXPERIENCE</b>
  </h1>
  <div class="card text-center">
    <div class="card-header">
      <h3 class="mt-2">Create Workout</h3>
    </div>
    <div class="card-body row d-flex justify-content-center">
      <div class="col">
        <form
          action="/workout"
          method="POST"
          class="needs-validation"
          novalidate
        >
          <b>Enter a title and description</b>
          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              id="workoutTitle"
              name="workoutTitle"
              placeholder="Title"
              required
            />
            <div class="invalid-feedback">Please enter a workout title.</div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              id="description"
              name="description"
              placeholder="Description"
              required
            ></textarea>
            <div class="invalid-feedback">Please provide a description.</div>
          </div>

          <section class="input-container">
            <div class="row">
              <div class="col-md-6">
                <label for="bodyParts"><b>Body Parts Targeted:</b></label>
                <div class="checkbox-group mb-3">
                  <% bodyParts.forEach(category => { %> <%
                  category.target.forEach(target => { %>
                  <div>
                    <input
                      type="checkbox"
                      id="<%= target %>"
                      name="bodyParts[]"
                      value="<%= target %>"
                    />
                    <label for="<%= target %>"><%= target %></label>
                  </div>
                  <% }); %> <% }); %>
                </div>
              </div>

              <div class="col-md-6">
                <label for="preferences"><b>Preferences:</b></label>
                <div class="form-group mb-3">
                  <% preferences.forEach(preference => { %>
                  <div class="select-wrapper">
                    <label for="<%= preference.key %>"
                      ><%= preference.key %>:</label
                    >
                    <select name="preferences[<%= preference.key %>]">
                      <% preference.value.forEach(option => { %>
                      <option value="<%= option %>"><%= option %></option>
                      <% }); %>
                    </select>
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </section>

          <p></p>
          <b>Enter exercises</b>
          <div id="exercises-container"></div>
          <div class="button-container mt-3">
            <button type="button" class="btn btn-secondary" id="addExercise">
              Add an Exercise
            </button>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
        <div class="text-center">
          <h6 class="card-title mt-3">
            <i
              >'If you fail to plan, you are planning to fail' - Benjamin
              Franklin</i
            >
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let exerciseCount = 0;

    function addExercise(event) {
      if (event) event.preventDefault();
      const container = document.getElementById("exercises-container");
      const exerciseDiv = document.createElement("div");
      exerciseDiv.classList.add("exercise-group", "mt-3", "form-group");
      exerciseCount++;

      exerciseDiv.innerHTML = `
        <input type="text" class="form-control" id="exercise-name-${exerciseCount}" name="exercises[${exerciseCount}][name]" placeholder="Exercise Name" required />
        <div class="invalid-feedback">Please enter an exercise name.</div>
        <input type="number" class="form-control" id="exercise-sets-${exerciseCount}" name="exercises[${exerciseCount}][sets]" placeholder="Sets" required />
        <div class="invalid-feedback">Please specify the number of sets.</div>
        <input type="number" class="form-control" id="exercise-reps-${exerciseCount}" name="exercises[${exerciseCount}][reps]" placeholder="Reps" required />
        <div class="invalid-feedback">Please specify the number of reps.</div>
        <textarea class="form-control" id="exercise-notes-${exerciseCount}" name="exercises[${exerciseCount}][notes]" placeholder="Notes"></textarea>
      `;
      container.appendChild(exerciseDiv);
    }

    document
      .getElementById("addExercise")
      .addEventListener("click", addExercise);

    // Bootstrap validation script
    (function () {
      "use strict";
      var forms = document.querySelectorAll(".needs-validation");
      Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener(
          "submit",
          function (event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add("was-validated");
          },
          false
        );
      });
    })();
  });
</script>
