<% layout('layouts/boilerplate') %>

<section class="show-container">
  <div class="card" style="width: 30rem">
    <% if (workout.image) { %>
    <div class="text-center">
      <img class="card-img-top" src="<%= workout.image %>" alt="Card image cap"
      height: auto;">
    </div>
    <% } %>
    <div class="card-body">
      <h2 class="text-center card-title mb-3">
        <b><%= workout.workoutTitle %></b>
      </h2>
      <div class="workout-description card-description">
        <p><%= workout.description %></p>
      </div>

      <div class="workout-details card-description">
        <h4>Exercises</h4>
        <% workout.exercises.forEach(exercise => { %>
        <div class="exercise">
          <strong><%= exercise.name %></strong>
          <p>Sets: <%= exercise.sets %>, Reps: <%= exercise.reps %></p>
          <% if (exercise.notes) { %>
          <p>Notes: <%= exercise.notes %></p>
          <% } %>
        </div>
        <% }); %>
      </div>

      <% if (workout.preferences && workout.preferences.length > 0) { %>
      <div class="workout-preferences card-description">
        <h4>Preferences</h4>
        <ul>
          <% workout.preferences.forEach(preference => { %>
          <li>
            <strong><%= preference.key %>:</strong> <%= preference.value %>
          </li>
          <% }); %>
        </ul>
      </div>
      <% } %> <% if (workout.bodyParts && workout.bodyParts.length > 0) { %>
      <div class="workout-bodyparts card-description">
        <h4>Targeted Body Parts</h4>
        <ul>
          <% workout.bodyParts.forEach(bodyPart => { %>
          <li><%= bodyPart.name %></li>
          <% }); %>
        </ul>
      </div>
      <% } %>
    </div>
  </div>

  <div class="text-center button-container">
    <button onclick="location.href='/workout';" class="button-31">
      Back to List
    </button>
    <% if( currentUser && workout.author.equals(currentUser._id)) {%>
    <button
      onclick="location.href='/workout/<%= workout._id %>/edit';"
      class="button-32"
    >
      Edit workout
    </button>
    <% } %>
  </div>
</section>
